*{
    margin: 0%;
    padding:0%;
    box-sizing: border-box;
}
#main{
    height: 100vh;
    width: 100vw;
    /* background-color: rgb(164, 164, 164); */
    background-image: url(../4k-mountain-l3f04sogeaabr5h0.jpg);
    
    background-position:center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
#content{
    height: 70vh;
    width:40vw;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter:blur(2px);
    border-radius: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}
#text{
    font-size: 30px;
    margin-bottom: 50px;
    
}
#content input{
    width: 30vw;
    height: 6vh;
    border-radius: 10px;
    margin: 10px;
}
#content lable{
    font-size: 20px;
    font-weight: bold;
    display:block;
    
}  
.btn {
    width: 10vw;
    height: 6vh;
    margin: 10px;
    position: relative;
    left: 10vw;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgb(255, 84, 84);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: rgb(255, 229, 84);
    transform: scale(1.1); 
}

.btn2 {
    width: 10vw;
    height: 6vh;
    margin: 10px;
    position: relative;
    left: 10vw;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgb(255, 229, 84);
    transition: background-color 0.3s ease, transform 0.3s ease;
} 

.btn2:hover {
    background-color: rgb(255, 84, 84); 
    transform: scale(1.1); 
    
    
}


